.flexbox-container {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	align-items: center;
}

.flexbox-container > div {
	flex: 1;
	flex-basis: 200px
}

.flexbox-container > div.item-1 {
	order: 1;
	font-size: 1rem;
}

.flexbox-container > div.item-2 {
	order: 2;
	font-size: 1.5rem;
}

.flexbox-container > div.item-3 {
	order: 3;
	font-size: 2rem;
	flex-basis: 100%
}

.flexbox-container > div.item-4 {
	order: 4;
	font-size: 2.5rem;
}

.flexbox-container > div.item-5 {
	order: 5;
	font-size: 3rem;
	order: 4;
}

.flexbox-container > div.item-6 {
	order: 6;
	font-size: 3.5rem;

}